.nav_container
{
    background-color: rgb(255, 255, 255);
    height: 65px;
    box-shadow: 1px 1px 3px rgb(202, 202, 202);
    display: flex;
    justify-content: space-between;

}
.logo_container
{
   
    height: 100%;
    width: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    
}
.logo_container2
{
   
    height: 100%;
    width: 20%;
    position: relative;
    background-color: aqua;
    
}
.logo_img
{
    margin-top: -10px;
    height: 100px;
}
.logo_img2
{
    height: 100%;
}
